body {
   width: 100%;
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;
}

nav a {
   color: black;
   text-decoration: none;
   margin-right: 30px;
}

nav a:hover {
   color: #fc5577;
   padding-bottom: 1px;
   border-bottom: 1px solid #fc5577;
   transition: 0.2s;
}

header {
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

#contacts-container {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.phone {
   margin-right: 20px;
   text-decoration: none;
   color: black;
   font-size: 24px;
   font-weight: bold;
}

.order-recall {
   color: #fc5577;
   border: 1px solid #fc5577;
   background-color: white;
   padding: 12px 40px;
   font-size: 18px;
   cursor: pointer;
   outline: none;
}

.centered {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 2%;
}

.my-photo {
   background: url("img/Dmitry Alekseev.png");
   background-position: right bottom;
   background-repeat: no-repeat;
   height: 666px;
}

.my-photo h1 {
   margin: 0;
   padding-top: 178px;
   font-family: "Tahoma";
   font-size: 60px;
   font-weight: bold;
}

.my-photo p {
   color: #8993ad;
   font-size: 25px;
   font-family: "Tahoma";
}

.more {
   color: white;
   background-color: #ff4e2e;
   border: none;
   width: 270px;
   height: 60px;
   cursor: pointer;
   outline: none;
}

h2 {
   padding: 45px;
   text-align: center;
   font-size: 50px;
}

.button-centered {
   margin: 95px 0px;
   text-align: center;
}

.icons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

.icon {
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.icon p {
   color: #8993AD;
   font-size: 20px;
   max-width: 260px;
   text-align: center;
}

.icon a {
   color: #8993AD;
   font-size: 20px;
   text-decoration: none;
   padding-top: 7%;
}

.all-devices {
   width: 100%;
   background-color: #ff4e2e;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.all-devices h3 {
   padding-top: 40px;
   font-family: "Tahoma";
   font-weight: bold;
   line-height: 1.333;
   text-align: left;
   font-size: 40px;
   max-width: 900px;
   color: white;
}

.all-devices p {
   padding-bottom: 40px;
   font-size: 20px;
   font-family: "Tahoma";
   line-height: 1.5;
   max-width: 900px;
   text-align: left;
   color: rgb(255, 255, 255);
}


footer {
   background-color: #31293c;
   color: white;
   text-align: center;
   padding: 15px 0;
}

.contacts {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding-bottom: 20px;
   padding-top: 20px;
}


.ordered-list {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-content: center;
   padding-inline-start: 0px;
}

.ordered-list li {
   list-style-type: none;
   padding-bottom: 20px;
}

.ordered-list li a {
   text-decoration: none;
   font-size: 18px;
   color: rgb(137, 147, 173);
}


.offer-social ul li {
   display: inline-block;
}

.phone-and-email {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 10px;
}

.phone-container {
   padding-bottom: 2em;
}

.cancel {
   padding-bottom: 0px;
}

.phone-container img {
   padding-right: 15px;
}

.socials {
   display: flex;
   justify-content: space-between;
   padding-inline-start: 0px;
}

.order-recall:hover {
   background-color: #fff;
   color: #ff4e2e;
   outline: 1px solid #ff4e2e;
}

.ordered-list li a:hover {
   color: #fc5577;
   padding-bottom: 1px;
   border-bottom: 1px solid #fc5577;
   transition: 0.2s;
}

.more:hover {
   color: #ff4e2e;
   background-color: white;
   border: #ff4e2e solid 1px;
   transition: 0.5s;
}

.icon a:hover {
   color: #fc5577;
   transition: 0.2s;
}

#form-container {
   position: fixed;
   display: none;
   justify-content: center;
   align-items: center;
   background-color: rgba(107, 107, 107, 0.7);
   width: 100%;
   height: 100%;
}

#form-post {
   width: 25%;
   height: 50%;
   background-color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

#form-post input{
   width: 270px;
   padding: 10px 0;
   margin: 10px 0;
}
#form-post h3{
   font-size: 25px;
}


#vk:hover {
   content: url('img/icons/vk (2).png');
}

#instagram:hover {
   content: url('img/icons/instagram-social-network-logo-of-photo-camera2.png');
}

#twitter:hover {
   content: url('img/icons/twitter-logo-silhouette2.png');
}

#facebook:hover {
   content: url('img/icons/facebook-logo (2).png');
}

@media screen and (max-width: 960px) {
   .centered {
      max-width: 760px;
   }

   .my-photo {
      background: none;
      text-align: center;
   }

   .icon a {
      margin-bottom: 7%;
   }

   .icons{
      justify-content: center;
   }

   .icon{
      flex-basis: 50%;
   }

   .all-devices h3 {
      font-size: 30px;
      padding-left: 20px;
   }
   .all-devices p {
      font-size: 15px;
      padding-left: 20px;
   }
   
}

@media screen and (max-width: 770px) {

   .centered {
      max-width: 600px;
   }

   .icons {
      display: flex;
      flex-wrap: wrap;
   }

   header {
      flex-direction: column;
      height: 80px;
   }

   .my-photo {
      background: none;
   }
   .phone{
      font-size: 18px;
   }

   .order-recall{
      font-size: 16px;
   }
}

@media screen and (max-width: 600px) {

   .centered {
      max-width: 400px;
   }

   .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .icon {
      width: 100%;
   }

   .my-photo {
      background: none;
   }

   .contacts {
      flex-direction: column;
   }

   .ordered-list {
      display: none;
   }

   .phone-and-email {
      display: none;
   }

}


@media screen and (max-width: 380px) {
   #contacts-container {
      display: none;
      /* flex-wrap: wrap; */
      /* justify-content: center; */
   }

   header {
      flex-direction: row;
      justify-content: center;
   }

   .phone {
      margin-top: 7px;
      margin-bottom: 7px;
   }

   nav {
      display: inline;
      text-align: center;
   }
}